<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <add name="DBConnectionString" Provider="System.Data.SqlClient" connectionString="Data Source=HARMONY\DATABASE9;Initial Catalog=FaceRecognitionDatabase;
      User Id=sa;Password=akademines;"/>
  </connectionString>
</configuration>